.site-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-style: 400;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  padding-left: 25px;
  padding-right: 26px;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 876px;
    height: 2px;
    background: $basik-white;
    opacity: 0.2;
    left: 0;
    top: 40px;
  }
}

.site-menu__link {
  color: $basik-white;
  opacity: 0.7;
}

@media (max-width: $mobile-width-only) {
  .site-menu {
    display: block;
    width: 100%;
    padding: 0;
    padding-right: 10px;
    padding-top: 100px;
    background-color: $basik-white;
    &::before {
      display: none;
    }
  }
  .site-menu__link {
    color: $text-color-nav;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  }

  .site-menu__item {
    position: relative;
   /* padding-right: 40px;*/
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 40px;
    /*padding-left: 16px;*/
    width: 100%;
    background-color: $background-color-nav;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../img/icon-menu.png");
      background-repeat: no-repeat;
      left: 90%;
      top: 23px;
      width: 25px;
      height: 25px;
    }
  }
}
