$opensans: "Open Sans" , Arial, sans-serif;
$basik-white: #ffffff;
$border-input: #C9CCD4;
$text-input: rgba(28, 28, 28, 1);
$basik-black: #000000;
$submit-background: #0AD9C6;
$button-nav: #0AD9C6;
$color-text: rgba(255, 255, 255, 0.8);
$text-color-nav: #48494D;
$background-color-nav: #F6F6F6;
$closed-nav: #141517;

$tablet-width: 1023px;
$mobile-width-only: 767px;
